[submodule ".registry"]
	path = .registry
	url = https://github.com/fmicompbio/fmicompbio.r-universe.dev
	branch = HEAD
[submodule "eisaR"]
	path = eisaR
	url = https://github.com/fmicompbio/eisaR
[submodule "griph"]
	path = griph
	url = https://github.com/fmicompbio/griph
[submodule "swissknife"]
	path = swissknife
	url = https://github.com/fmicompbio/swissknife
